#map {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

#lamp_form {
	background: #fff;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 9;
}

#lamp_form button {
	background: #2C78BF;
	border-radius: 4px;
	border-style: none;
	color: #fff;
	display: block;
	text-align: center;
	width: 100%;
    padding: 5px 2px;
}

.button-wrap {
	padding: 0 4px 4px 4px;
}

.hidden {
	display: none;
}